* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 36px;
}



.visually-hidden {
  display: none;
}
