.button {
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: white;
  background-color: @green;

  &:active {
    color: @activegreen;
  }

  &:hover {
    background-color: @hovergreen;
  }

  &--secondary {
    background-color: @grey;
    color: @lighttext;
    font-size: 16px;
  }

  &--secondary:hover {
    background-color: #ebebeb;
  }

  &--secondary:active {
    color: @activegrey;
    background-color: #ebebeb;
  }

  &--input {
    font-size: 16px;
    line-height: 20px;
    border: none;
    width: 100%;
    font-family: inherit;
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  .button {


    &--input {
      width: 284px;
      font-size: 20px;
      padding: 15px 27px;
    }
  }
}

@media (min-width: 1300px) {
  .button {
    &--input {
      font-size: 20px;
      width: 570px;
    }
  }
}
