.button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  display: block;
  text-align: center;

  &--primary {
    color: white;
    background-color: #68b738;
  }

  &--secondary {
    background-color: @grey;
    font-size: 16px;
  }

  &--input {
    font-size: 16px;
    border: none;
    width: 100%;
    font-family: inherit;
  }
}
