@media (min-width: 768px) {
  .catalog-additional {
    margin-bottom: 55px;

    .catalog-additional__item {
      padding: 38px 25px;
      border-top: 1px solid @bordergrey;
      border-right: 1px solid @bordergrey;
      border-left: 1px solid @bordergrey;

      &:last-child {
        border-bottom: 1px solid @bordergrey;
      }
    }

    .catalog-additional__item-info {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1440px) {
  .catalog-additional {
    margin-bottom: 0;

    .catalog-additional__item {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 895px;
      border-right: 0;
      border-left: 0;
      padding: 20px 0;
      margin-right: 60px;
    }

    .catalog-additional__item-info {
      display: flex;
      justify-content: space-between;
      width: 610px;
    }

    .catalog-additional__button {
      width: 205px;
    }
  }
}
