.catalog-cover {
  background-color: @grey;
  padding: 20px;
  margin: 20px 0;

  .catalog-cover__title {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0;
    color: @darktext;
    text-transform: uppercase;
  }

  .catalog-cover__text {
    color: @lighttext;
    border-bottom: 1px solid #d9d9d9;
    margin: 15px 0;
    padding-bottom: 20px;
  }

  .catalog-cover__link {
    font-size: 16px;
    color: @darktext;
  }
}
