.form-page {
  text-transform: uppercase;
  overflow: hidden;
}

.form-page__secondary-title {
  text-transform: none;
  line-height: 1em;
  width: 100%;
  padding-left: 20px;
  margin: 27px 0;
}

.form-page__title {
  width: 280px;
  margin: 30px auto 39px auto;
  text-transform: none;
  line-height: 0.9em;
}

.form-page__subtitle {
  font-family: inherit;
  text-transform: uppercase;
  color: @darktext;
  width: 280px;
  margin: 0 auto 38px auto;
}

.form-page__fieldset-info {
  width: 280px;
  margin: 0 auto 25px auto;
}

.form-page__field-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}


.form-page__label-text {
  padding-right: 13px;
}

.form-page__input-text {
  background-image: none;
  line-height: 20px;
  border: 1px solid #d2d6da;
  width: 100%;
  padding: 10px 13px 12px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
}

.form-page__input-text[type="email"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  // opacity: 1;
 /* Firefox */
  background: url("../img/icon-mail.svg") no-repeat 93% 49%;
  background-size: 17px 13px;
//   color: red;
}

.form-page__input-text[type="tel"] {
  background: url("../img/icon-phone.svg") no-repeat 93% 49%;
  background-size: 20px 20px;
}

.form-page__input-text:hover,
.form-page__textarea:hover {
  border-color: #cdcdcd;
}

.form-page__input-text:focus,
.form-page__textarea:focus {
  border: 2px solid #444444;
}

// начало радио

.form-page__fieldset-radio {
  border-bottom: 1px solid @bordergrey;
  border-top: 1px solid @bordergrey;
  padding: 23px 0 4px 0;
}

.form-page__field-radio {
  width: 280px;
  margin: 0 auto 19px auto;
}

.form-page__field-radio:active,
.form-page__field-checkbox:active {
  opacity: 0.5;
}

.form-page__input-radio {
  width: 30px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 6px 7px 6px 4px;
}

.form-page__input-radio-label {
  position: relative;
  padding: 0 0 0 46px;
}

.form-page__input-radio-label:hover::before,
.form-page__label-checkbox:hover::before {
  border: 1px solid #bcbcbc;
}

.form-page__input-radio-label:active {
  color: #bcbcbc;
}

.form-page__input-radio-label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -1px;
  width: 29px;
  height: 29px;
  border: 1px solid #cecece;
  border-radius: 50%;
  background: #ffffff;
}

.form-page__input-radio-label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: @green;
  opacity: 0;
}

.form-page__input-radio:checked + .form-page__input-radio-label::after {
  opacity: 1;
}

// конец радио

.form-page__fieldset-contact {
  width: 280px;
  margin: 35px auto 28px auto;
}

.form-page__label-contact {
  padding-right: 8px;
}

.form-page__fieldset-comment {
  width: 280px;
  margin: 35px auto 0 auto;
}

.form-page__textarea {
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  color: @lighttext;
  border: 1px solid #d2d6da;
  resize: none;
  width: 268px;
  height: 137px;
  padding: 9px 0 0 13px;
}

.form-page__fieldset-checkbox {
  width: 280px;
  padding: 10px 0 13px 0;
  margin: 0 auto 8px auto;
}

.form-page__field-checkbox {
  margin-bottom: 18px;
}

.form-page__input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.form-page__label-checkbox {
  position: relative;
  padding: 0 0 0 47px;
  cursor: pointer;
}

.form-page__label-checkbox::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 29px;
  height: 29px;
  border: 1px solid @bordergrey;
}

.form-page__label-checkbox::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 12px;
  opacity: 1;
  width: 8px;
  border-bottom: 2px solid @green;
  height: 15px;
  border-right: 2px solid @green;
  transform: rotate(45deg);
}

.form-page__input-checkbox:checked + .form-page__label-checkbox::after {
  opacity: 0;
}

.form-page__legend {
  font-size: 16px;
  text-transform: none;
}

.form-page__legend-block {
  margin: 20px 0 30px 0;
  text-align: center;
}

.form-page__legend-text {
  font-size: 14px;
  text-transform: none;
  color: @lighttext;
}

.form-page__submit-container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .form-page__title {
    font-size: 60px;
    width: 628px;
    padding: 0 40px;
    margin-left: -10px;
    margin-bottom: 60px;
  }

  .form-page__subtitle {
    font-size: 20px;
    line-height: 1.5em;
    width: 628px;
    margin-bottom: 68px;
    margin-left: 70px;
  }

  .form-page__data-container {
    margin-bottom: 68px;
  }

  .form-page__fieldset-info {
    width: 628px;
    margin: 0 auto 0 70px;
  }

  .form-page__field-text {
    margin-bottom: 20px;
  }

  .form-page__label-text {
    font-size: 20px;
    padding-right: 19px;
  }

  .form-page__input-text {
    font-size: 18px;
    padding: 14px 19px 16px;
  }

  .form-page__fieldset-comment {
    width: 100%;
  }

  .form-page__fieldset-radio {
    margin-bottom: 75px;
    border: 1px solid @bordergrey;
    border-right: 0;
    padding: 28px 0 8px 28px;
    margin-left: 72px;
    margin-top: 72px;
  }

  .form-page__field-radio {
    width: 628px;
    margin: 0 0 22px 0;
  }

  .form-page__input-radio-label {
    font-size: 20px;
    padding: 0 0 0 56px;
  }

  .form-page__input-radio-label::before {
    top: -6px;
    left: -3px;
    width: 38px;
    height: 38px;
  }

  .form-page__input-radio-label::after {
    top: 5px;
    left: 9px;
    width: 17px;
    height: 17px;
  }

  .form-page__label-contact {
    padding-right: 19px;
    font-size: 19px;
  }

  .form-page__secondary-title {
    font-size: 36px;
    width: 100%;
    padding-left: 70px;
    margin: 62px 0;
  }

  .form-page__fieldset-contact {
    width: 630px;
    margin: 75px auto 65px 70px;
  }

  .form-page__textarea {
    font-size: 20px;
    width: 611px;
    height: 160px;
    padding-left: 17px;
    margin-top: 15px;
    margin-left: 70px;
    margin-bottom: 0;
  }

  .form-page__fieldset-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 630px;
    padding: 0;
    margin-left: 70px;
    margin-bottom: 19px;
  }

  .form-page__field-checkbox {
    width: 286px;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .form-page__label-checkbox {
    padding-left: 60px;
  }

  .form-page__label-checkbox::before {
    width: 40px;
    height: 40px;
  }

  .form-page__label-checkbox::after {
    top: 3px;
    left: 16px;
    width: 9px;
    height: 17px;
  }

  .form-page__submit-container {
    display: flex;
    align-items: baseline;
    width: 630px;
    margin-left: 70px;
    margin-bottom: 60px;
  }

  .form-page__legend-block {
    margin-left: 64px;
  }

  .form-page__legend-text {
    font-size: 15px;
  }
}

@media (min-width: 1300px) {
  .form-page-form {
    margin-bottom: 68px;
  }

  .form-page__title {
    font-size: 60px;
    width: 1220px;
    padding: 0;
    margin: 40px auto 59px auto;
  }

  .form-page__subtitle {
    width: 1220px;
    padding: 0;
    margin: 40px auto 66px auto;
  }

  .form-page__input-radio-label::before {
    top: -5px;
    left: 0;
  }

  .form-page__input-radio-label::after {
    top: 7px;
    left: 11px;
  }

  .form-page__data-container {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto 69px auto;
  }

  .form-page__field-text:last-child {
    margin-bottom: 0;
  }

  .form-page__field-checkbox {
    width: 245px;
  }

  .form-page__fieldset-contact {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto 50px auto;
  }

  .form-page__field-text {
    width: 570px;
  }

  .form-page__fieldset-info {
    margin: 0;
  }

  .form-page__fieldset-radio {
    border-right: 1px solid @bordergrey;
    width: 541px;
    margin: 0;
  }

  .form-page__secondary-title {
    margin: 43px 0;
    padding-left: 110px;
  }

  .form-page__fieldset-comment {
    width: 1220px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  .form-page__textarea {
    width: 1201px;
    margin-top: 33px;
    margin-left: 0;
    margin-bottom: 19px;
  }

  .form-page__fieldset-checkbox {
    width: 1220px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 28px;
  }

  .form-page__submit-container {
    width: 1220px;
    margin: 0 auto;
  }

  .form-page__legend-block {
    margin-left: 85px;
  }
}
