@media screen and (min-width: 320px) {
  .form-page {
    padding: 0 20px;
    text-transform: uppercase;
  }

  .form-page__title {
    margin: 20px 0 30px 0;
    text-transform: none;
    line-height: 0.9em;
  }

  .form-page__subtitle {
    text-transform: uppercase;
    color: @darktext;
    margin-bottom: 30px;
  }

  .form-page__fieldset-text {
    padding-bottom: 10px;
  }

  .form-page__field-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  .form-page__field-radio {
    margin-bottom: 20px;
  }

  .form-page__label-text {
    padding-right: 10px;
  }

  .form-page__input-text {
    line-height: 20px;
    border: 1px solid #d2d6da;
    width: 100%;
    padding: 10px 13px 12px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
  }

  .form-page__fieldset-radio {
    padding: 20px 0;
  }

  .form-page__input-radio {
    width: 30px;
  }

  .form-page__textarea {
    font-family: inherit;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #d2d6da;
    width: 100%;
    padding: 5px;
    color: @lighttext;
  }

  .form-page__legend {
    font-size: 16px;
    text-transform: none;
  }

  .form-page__legend-block {
    margin: 18px 0 28px 0;
    text-align: center;
  }

  .form-page__legend-text {
    font-size: 14px;
    text-transform: none;
    color: @lighttext;
  }
}
