.jumbo {
  color: white;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg");
  background-color: @green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 280px;
  padding-top: 25px;
  margin-bottom: 197px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.jumbo__wrapper {
  width: 280px;
  margin: 0 auto;
}

.jumbo__title {
  line-height: 1em;
  margin: 0 0 23px 0;
}

.jumbo__slogan {
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: white;
}

.jumbo__button {
  font-size: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .jumbo {
    color: @darktext;
    text-align: left;
    background-color: transparent;
    background-size: 0;
    padding-top: 29px;
    margin-bottom: 530px;
  }

  .jumbo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 90px;
    width: 618px;
  }

  .jumbo__title {
    font-size: 60px;
    margin-right: 60px;
    margin-bottom: 42px;
    order: 1;
    z-index: 1;
  }

  .jumbo__slogan {
    font-size: 20px;
    color: @darktext;
    margin-bottom: 45px;
    order: 2;
    z-index: 1;
  }

  .jumbo__button {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 29px 16px 25px;
    order: 3;
    z-index: 1;
  }

  .jumbo__img {
    order: 4;
    height: 609px;
    position: absolute;

    top: 200px;
    left: 0;
    z-index: 0;
  }
}

@media (min-width: 1300px) {
  .jumbo {
    background-image:url("../img/index-background-desktop@1x.jpg"), linear-gradient(@green);
    background-repeat: no-repeat;
    background-position: 106% 0%;
    background-size: 50% 93%;
    height: 528px;
    padding-top: 222px;
    margin-top: -150px;
    margin-bottom: 7px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .jumbo__wrapper {
    padding-left: 125px;
    margin: 0;
  }

  .jumbo__title {
    margin: 0 0 40px 0;
    max-width: 500px;
  }

  .jumbo__slogan {
    line-height: 20px;
    margin-bottom: 55px;
  }

  .jumbo__button {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .jumbo__img {
    width: 552px;
    height: 499px;
    top: -29%;
    left: 67%;
  }
}
