.jumbo {
  color: white;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center;
  background-size: cover;
  height: 278px;
  padding-top: 27px;
  margin-bottom: 200px;
}

.jumbo__wrapper {
  width: 280px;
  margin: 0 auto;
}

.jumbo__title {
  line-height: 1em;
  margin: 0 0 22px 0;
}


.jumbo__slogan {
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: white;
}

.jumbo__button {
  font-size: 14px;
}

@media (min-width: 768px) {
  .jumbo {
    background-size: 0;
    color: @darktext;
    text-align: left;
    margin-bottom: 532px;
  }

  .jumbo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 90px;
    width: 618px;
  }

  .jumbo__title {
    font-size: 60px;
    margin-right: 60px;
    margin-bottom: 38px;
    order: 1;
    z-index: 1;
  }

  .jumbo__slogan {
    font-size: 20px;
    color: @darktext;
    margin-bottom: 42px;
    order: 2;
    z-index: 1;
  }

  .jumbo__button {
    font-size: 20px;
    padding: 10px 25px;
    font-size: 20px;
    order: 3;
    z-index: 1;
  }

  .jumbo__img {
    order: 4;
    height: 609px;
    position: absolute;

    top: 200px;
    left: 80px;
    z-index: 0;
  }
}

@media (min-width: 1440px) {
  .jumbo {
    padding-top: 73px;
    margin-bottom: 255px;

  }

  .jumbo__wrapper {
    padding-left: 190px;
    margin: 0;
  }

  .jumbo__title {
    margin: 0 0 38px 0;
    max-width: 500px;
  }

  .jumbo__slogan {
    margin-bottom: 50px;
  }

  .jumbo__img {
    width: 521px;
    height: 490px;
    top: -26%;
    left: 73%;
  }
}
