.main-nav {
  .main-nav__list {
    width: 280px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .main-nav {
    margin-left: auto;

    .main-nav__btn {
      display: none;
    }

    .main-nav__list {
      display: flex;
      width: 100%;
    }

    .main-nav__item {
      padding: 0 10px;
    }
  }
}
