

@media (min-width: 768px) {
  body {
    background: none;
  }
}

@media (min-width: 1440px) {
  .home-page {
    background: url("../img/index-background-mobile@1x.jpg") no-repeat 106% 0%;
    background-size: 50%;
  }
}

// .title-underline {
//   overflow: hidden;
// }
// .title-underline:before,
// .title-underline:after {
//   content: '';
//   display: inline-block;
//   vertical-align: middle;
//   box-sizing: border-box;
//   width: 100%;
//   height: 3px;
//   background: @green;
//   border: solid #FFF;
//   border-width: 0 10px;
// }

// .title-underline:before {
//   margin-left: -100%;
// }
// .title-underline:after {
//   margin-right: -100%;
// }

.title-underline {
  position: relative;
    z-index: 1;
    overflow: hidden;
}

// .title-underline:before {
//   position: absolute;
//     top: 51%;
//     overflow: hidden;
//     width: 50%;
//     height: 3px;
//     content: "";
//     background-color: @green;
//     margin-left: -55%;
//     text-align: left;
// }

// .title-underline:after {
//   position: absolute;
//     top: 51%;
//     overflow: hidden;
//     width: 90%;
//     height: 3px;
//     content: "";
//     background-color: @green;
//     margin-left: 7%;
// }
