.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 11px 20px;
  border-bottom: 1px solid #e6e6e6;
  width: 280px;
  margin: 0 auto;
}

.page-header__brand-name {
  line-height: 0;
  padding-right: 8px;
}

.page-header--nojs .main-nav--closed {
  display: block;
}

.page-header__btn {
  border: 0;
  background-color: transparent;
}

.page-header--nojs .page-header__btn {
  fill: none;
}

.page-header__icon-mobile-menu,
.page-header__icon-close {
  width: 24px;
  height: 19px;
}

.page-header__btn .page-header__icon-close {
  display: none;
}

.page-header__btn.menu-opened .page-header__icon-mobile-menu {
  display: none;
}

.page-header__btn.menu-opened .page-header__icon-close {
  display: block;
}

@media (min-width: 768px) {
  .page-header {
    width: 708px;
    justify-content: flex-start;
    border-bottom: none;
    padding-top: 26px;
    padding-bottom: 22px;
  }

  .page-header__logo img {
    width: 173px;
    height: 58px;
  }

  .page-header__brand-name {
    display: none;
  }

  .page-header__logo:hover,
  .page-header__brand-name:hover {
    opacity: 0.8;
  }

  .page-header__logo:active,
  .page-header__brand-name:active {
    opacity: 0.3;
  }

  .page-header__brand-name svg {
    width: 87px;
  }

  .page-header__btn {
    display: none;
  }
}

@media (min-width: 1300px) {
  .page-header {
    width: 1220px;
    padding-top: 53px;
    padding-bottom: 32px;
  }

  .page-header__logo img {
    width: 202px;
    height: 60px;
  }

  .page-header__brand-name {
    display: none;
  }
}
