.page-footer {
  background-color: @grey;
}

.page-footer__brand-name {
  display: block;
  margin: 0 auto 27px auto;
}

.page-footer__brand-name:hover {
  opacity: 0.8;
}

.page-footer__brand-name:active {
  opacity: 0.3;
}

.page-footer__logo {
  width: 128px;
}

.page-footer__social {
  width: 100%;
  text-align: center;
  border-top: 1px solid @bordergrey;
  border-bottom: 1px solid @bordergrey;
  margin: 0 auto;
}

.page-footer__bottom-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
  text-align: center;
}

.page-footer__copyright {
  padding: 25px 0;
}

.page-footer__address-block--grey {
  background-color: @grey;
}

@media (min-width: 768px) {
  .page-footer__bottom-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 708px;
    padding: 43px 13px 20px 20px;
    margin: 0 auto;
  }

  .page-footer__social {
    border: 0;
  }

  .map {
    iframe {
      height: 396px;
    }
  }
}

@media (min-width: 1440px) {
  .page-footer {
    position: relative;
    clear: left;
  }

  .page-footer__bottom-wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
