.page-footer {
  background-color: @grey;
}

.page-footer__brand-name-icon {
  width: 128px;
  height: 24px;
  display: block;
  margin: 0 auto 30px auto;
}

.page-footer__brand-name-icon:hover {
  opacity: 0.8;
}

.page-footer__brand-name-icon:active {
  opacity: 0.3;
}

.page-footer__logo {
  width: 128px;
}

.page-footer__social {
  width: 100%;
  text-align: center;
  border-top: 1px solid @bordergrey;
  border-bottom: 1px solid @bordergrey;
  margin: 0 auto;
}

.page-footer__bottom-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 30px 20px 30px 20px;
}

.page-footer__copyright {
  padding: 26px 52px 0 0;
}

.page-footer__address-block--grey {
  background-color: @grey;
}

@media (min-width: 768px) {
  .page-footer__bottom-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 708px;
    padding: 42px 20px 58px 20px;
    margin: 0 auto;
  }

  .page-footer__brand-name {
    margin-bottom: 0;
  }

  .page-footer__brand-name-icon {
    margin-bottom: 0;
  }

  .page-footer__social {
    border: 0;
  }

  .map {
    iframe {
      height: 396px;
    }
  }
}

@media (min-width: 1300px) {
  .page-footer {
    position: relative;
    clear: left;
  }

  .page-footer__bottom-wrapper {
    width: 1220px;
    padding-top: 40px;
    padding-bottom: 55px;
    margin: 0 auto;
  }
}
