.pagination {
  text-align: center;

}

.pagination__show-more-button {
  margin-top: 20px;
  display: block;
}

.pagination__title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 17px 0 8px 0;
}

.pagination__subtitle {
  font-size: 12px;
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .pagination {
    outline: 1px solid @bordergrey;
    display: flex;
    flex-direction: column;

    .button {
      margin-top: auto;
    }
  }

  .pagination__title {
    font-size: 20px;
    line-height: 1em;
    margin: 0px auto 24px auto;
    width: 155px;
  }

  .pagination__show-more-button {
    margin-bottom: 45px;

    svg {
      width: 60px;
      height: 60px
    }

  }
  .pagination__subtitle {
    font-size: 16px;
    width: 180px;
    margin: 0 auto;
  }

}
