.pagination {
  text-align: center;
}

.pagination__show-more-button {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  margin: 26px auto 21px auto;
}

.pagination__title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 17px 0 5px 0;
}

.pagination__subtitle {
  font-size: 12px;
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .pagination {
    outline: 1px solid @bordergrey;
    width: 247px;
    display: flex;
    flex-direction: column;

    .button {
      margin-top: auto;
    }
  }

  .pagination__title {
    font-size: 20px;
    line-height: 1em;
    margin: 0 auto 24px auto;
    width: 155px;
  }

  .pagination__show-more-button {
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-top: 19px;
    margin-bottom: 50px;
  }

  .pagination__subtitle {
    font-size: 16px;
    width: 180px;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .pagination {
    width: 170px;
  }

  .pagination__show-more-button {
    margin-top: 16px;
    margin-bottom: 50px;
  }

  .pagination__title {
    margin-bottom: 25px;
  }

  .pagination__subtitle {
    width: 167px;
  }
}
