@green: #68b738;
@hovergreen: #5eaa2f;
@hoverwhite: #cadfc1;
@activegreen: #8fc46e;
@grey: #f2f2f2;
@lighttext: #444444;
@bordergrey: #d9d9d9;
@darktext: #111111;
@hovergrey: #707070;
@activegrey: #b7b7b7;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
